<ion-header>
  <ion-toolbar>
    <ion-title>
      Camera
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Camera</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <img [src] = "foto" *ngIf="foto">
            <ion-button (click)="capturarFoto()">Take a picture</ion-button>
            <ion-button (click)="buscarFoto()">Find picture</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
